/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1068.8px, 668px, contain;
  background-attachment: fixed; /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.title-decor {
  display: block;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color)
}

.header {
  position: relative;
  padding-bottom: 105px;
  display: grid;
}

.header:before {
  position: absolute;
  bottom: 50px;
  left: 10px;
  width: 25.036px;
  height: 25.002px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  content: "";
}

.header::after {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.036px;
  height: 25.002px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  content: "";
}

.header__rec {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  position: absolute;
  right: 16px;
  top: 10px;
}

.header__rec-text {
  color: var(--accent-color);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header__theme-menu {
  /* padding-top: 77px;
  padding-right: 16px;
  padding-bottom: 72px; */

  padding: 72px 10px 72px 0;
}
.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.header__theme-menu-item {
}
.header__theme-menu-button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-color);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  padding: 3px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
 border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-button_type_light {
}
.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  width: 355px;
  color: var(--big-title-cover);
  text-shadow: 4px 4px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  padding-bottom: 55px;
  margin: 0 auto;
}

.header__text {
  margin: 0 auto;
  width: 355px;
  min-height: 117px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}
.content {
  min-width: 375px;
  padding: 0 calc(100% - 97%);
}

.advice {
}

.advice__list {
  list-style: none;
  padding: 0;
}

.advice__list-item {
  padding-bottom: 30px;
}

/* .advice__list-item:last-child {
  padding-bottom: 0px;
} */

.list-item__title {
  color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  padding-bottom: 20px;
}

.list-item__subtitle {
  color: var(--background-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-bottom: 10px;
}

.list-item__text {
  color: var(--text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-bottom: 20px;
}

.list-item__link {
  text-decoration: none;
}

.list-item__link:hover {
  text-decoration: underline;
}

.list-item__link:focus {
  outline: none;
}

.list-item__link:focus-visible {
 border: 1px solid var(--text-color);
}


.list-item__text.title-decor {
  color: var(--background-color);
}

.gallery {
  display: grid;
  gap: 11px;
  justify-content: center;
}

.gallery__title {
}

.gallery__image {
  object-fit: cover;
  width: 100%;
}

.footer {
  text-align: center;
  position: relative;
  padding: 330px calc(100% - 97%) 285px;
}

.footer:before {
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 25.036px;
  height: 25.002px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  content: "";
}

.footer::after {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 25.036px;
  height: 25.002px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  content: "";
}

.footer__text {
  color: var(--big-title-cover);
  text-shadow: 2px 2px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

@media screen and (min-width: 767px) {
  .page {
    background-size: 1638.4px, 1024px, contain;
  }


  .header:before {
    bottom: 80px;
    left: 20px;
  }

  .header::after {
    top: 20px;
    right: 20px;
  }

  .header {
    padding-bottom: 242px;
  }

  .header__rec {
    right: 27px;
    top: 19px;
  }

  .header__theme-menu {
    padding: 185px 20px 2px 0px;
    grid-row: 1;
    grid-column: 2 / 3;
    display: grid;
    justify-content: right;
  }

  .header__title {
    grid-row: 4;
    grid-column: 1 / 3;
    width: 576.84px;
    margin: 0;
    padding-top: 177px;
  }

  .header__text {
    grid-row: 5/6;
    grid-column: 3 / 2;
    margin-top: 106px;
    display: block;
    /* display: flex; */
    margin-left: 365px;
    width: 367px;
  }

  .advice__list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    padding-bottom: 60px;
  }

  .advice__list-item:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .advice__list-item:nth-child(3) {
    flex-direction: row;
    gap: 69px;
  }

  .list-item__title {
    width: 236px;
  }

  .list-item__list {
  }

  .list-item__list-item {
  }

  .gallery {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }

  .gallery__title {
    grid-row: 1;
    grid-column: 1 / 4;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(2) {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
  }

  .gallery__image:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
  }

  .gallery__image:nth-child(6) {
    grid-row: 4;
    grid-column: 2 / 4;
  }

  .footer {
    padding: 530px calc(100% - 97%) 450px;
  }

  .footer:before {
    bottom: 10px;
    left: 20px;
  }

  .footer::after {
    top: 85px;
    right: 20px;
  }
}

@media screen and (min-width: 1023px) {
  .page {
    background-size: 1228.8px, 768px, contain;
  }

  .header {
    padding-bottom: 195px;
    display: block;
  }

  .title-decor {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px; /* 130% */
  }

  .content {
    padding: 0 calc(100% - 98%);
  }

  .header__title {
    width: 759px;
    font-size: 157px;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
    padding-top: 280px;
  }

  .header__text {
    width: 491px;
    min-height: 0;
    margin-top: 55px;
    margin-left: 510px;
  }

  .header__theme-menu {
    padding: 20px 1px 0px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .advice__list-item {
    display: grid;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 12px;
    padding-bottom: 60px;
    grid-template-columns: 1fr 2fr;
  }

  .list-item__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
  }

  .list-item__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    width: 100%;
  }

  .advice__list-item:nth-child(2) .list-item__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .advice__list-item:nth-child(2) .list-item__list .list-item__list-item {
    width: 100%;
  }

  .advice__list-item:nth-child(2) .list-item__title {
    width: 263px;
  }

  .advice__list-item:nth-child(3) {
    gap: 10px;
  }

  .footer {
    padding: 380px calc(100% - 98%) 310px;
  }

  .footer__text {
    font-size: 157px;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
  }
}
